:root {
  --fontFamily: 'Red Hat Display', sans-serif;
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--fontFamily);
  font-size: 62.5%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(images/pattern-background-desktop.svg);
}

.card {
  text-align: center;
  background-color: var(--white);
  border-radius: 2rem;
  overflow: hidden;
  width: 45rem;
}

.img {
  width: 100%;
}

.info-container {
  margin: 2rem 5rem;
}

.title {
  font-size: 2.5rem;
  margin: 2rem 1rem;
  font-weight: 900;
}

.info {
  font-size: 1.6rem;
  margin: 2rem 2rem;
  color: var(--desaturatedBlue);
}

.subscription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--veryPaleBlue);
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.sub-info {
  display: inline-flex;
  flex-direction: column;
  margin-right: 25%;
}

.pack {
  font-weight: 900;
  font-size: 1.6rem;
}

.prize {
  font-size: 1.6rem;
  color: var(--desaturatedBlue);
}

.change-link {
  text-decoration: underline;
  color: var(--brightBlue);
  font-size: 1.6rem;
  font-weight: 700;
}

.btn {
  display: block;
  margin: 1rem auto;
  width: 95%;
  border: none;
  padding: 1.5rem 0;
  border-radius: 1rem;
  cursor: pointer;
  background: none;
}

.proceed {
  background-color: var(--brightBlue);
  color: var(--white);
  font-weight: 700;
  box-shadow: 0px 1.5rem 2rem var(--paleBlue);
}

.cancel {
  color: var(--desaturatedBlue);
  font-weight: 700;
}

.change-link:hover {
  text-decoration: none;
  opacity: 0.5;
}

.proceed:hover {
  opacity: 0.5;
}

.cancel:hover {
  color: black;
}

@media screen and (max-width: 470px) {
  .main {
    background-image: url(images/pattern-background-mobile.svg);
  }

  .card {
    width: 35rem;
  }

  .sub-info {
    margin-right: 10%;
  }

  .info-container {
    margin: 2rem 2rem;
  }
}
